@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins';
}
.proedu{
    height: 60px;
    width: 151px;
    left: 140px;
    top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    color: #4A4A4A !important;

}
.menuitem{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #777777;
}
.menubutton{
    width: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubutton1{
    display: none;
}






.one{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(33, 33, 33, 0.73)),url('./images/cover/cover-1.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.two{
    background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.52), rgba(41, 41, 41, 0.73)),url('./images/cover/cover-2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.three{
    background-image: linear-gradient(to bottom, rgba(11, 0, 0, 0.52), rgba(83, 80, 80, 0.73)),url('./images/cover/cover-3.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.carouselbodyitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-family: 'Poppins';

}
.digital{
    color: #fff;
    font-weight: 600;
    font-size: 65px;
}
.learning{
    padding-left: 205px;
}
.carouselpara{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    padding-left: 100px;
}
.digitaltransmission{
    padding-left: 190px;
}
.carouselbutton{
    width: 140px;
    font-weight: 700;
}









.discover_our{
    text-align: center;
}
.discover_para{
    text-align: center;
}
.digital_para_span{
    margin: 0 auto;
}




.fundamental{
   
}
.courseone{
    border: 1px solid #E8E8E8;
    width:545px;
    border-radius: 5px;
}
.courseone_details{
    margin-top: 35px;
    margin-left: -60px;
}
.coursepara{
    text-align: justify;
    font-size: 16px;
    margin-right: 25px;
    color: #777777;
}
.course_price{
    font-size: 18px;
    color: #289BDE;
    font-weight: 600;
}
.more_courses_btn{
    width: 200px;
   
}
.more_courses{
    display: flex;
    justify-content: center;
}




.elearning{
    background:#F4FAFD; 
}
.elearning_details{
    margin-left: 60px;
    margin-top: 120px;
}
.elearningpara{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    margin-right: 35px;
    color: #777777;
}
.rating{
    margin-top: 30px;
}
.elearningread{
    width: 150px;
    margin-top: 15px;
}





.readytojoin{
    background-color: #289BDE;
    
}
.readytojoin_register{
    background-color: #fff;
    color: #289BDE;
    margin-left: 260px;
    margin-top: 115px;
    width: 180px;
}
.readytojoin_firstpart{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 100px;
}





.meet_pic{
    width: 259px;
}

.meet_first{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.details{
    padding-left: 15px;
    padding-top: 15px;
    
}
.meet_first_name{
    font-size: 16px;
}
.meet_btn{
    text-align: center;
   
}

.first_item_carousel{
    border: 5px solid red;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}




.trusted_company{
    
}



.footer{
    background-color: #000;
    width: 100%;
    
}
.footer_start{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    color: #fff;
    
}




@media screen and (max-width: 600px) {
    .menubutton{
        margin-left: 7.813rem;
    }
  }